%h1 Sean's ToDo list
%p What would you like to track today?
%p= link_to 'New Item', new_item_path, :class => 'button button-success'
%p= link_to 'Full Todo List', items_path, :class => 'button button-primary'
